@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>
<br />

@if(User.Identity.IsAuthenticated)
{
    <form asp-controller="Login" asp-action="Logout">
        <button type="submit" class="btn btn-primary">Logout</button>
    </form>

}else
{
    <form asp-controller="Login" asp-action="Index" method="post">
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="Username" class="form-control" />
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="Password" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
}
