@{
    int currentNumber = 0;
    try
    {
        currentNumber = (int)ViewData["number"];
    }
    catch
    {
        Console.WriteLine("Error receiving data");
    }
}

<h1>first page</h1>
NUMBER IS @currentNumber
<br />
<br />
@for (int i = 0; i < @currentNumber; i++)
{
    <span>@i</span>
}
