@{
    var rnd = new Random();
    int currentNumber = 0;
    try
    {
        currentNumber = (int)ViewData["number"];
    }
    catch
    {
        Console.WriteLine("Error receiving data");
    }
}

<h1>second page</h1>
@for (int i = 0; i < currentNumber; i++)
{
    <div style="width:30px; height:30px; background-color:rgb(@(rnd.Next(255)), @(rnd.Next(255)), @(rnd.Next(255))"></div>
}