@* <h2>Partial site, received number @ViewData["number"]</h2> *@

<button class="nav-btn" data-target="_FirstPage">Expense form</button>
<button class="nav-btn" data-target="_SecondPage">Expense chart</button>
<button class="nav-btn" data-target="_ThirdPage">Expense daily</button>

<div id="render-container">
    <partial name="_FirstPage" />
</div>
<script>
    $(document).ready(function () {
        $(".nav-btn").on("click", function () {
            var target = $(this).data("target");
            $.ajax({
                type: "post",
                url: "/Expense/" + target,
                success: function (data) {
                    $("#render-container").html(data);
                },
                error: function () {
                    alert("Error loading page.");
                }
            });
        });
    });
</script>